
#galeria-section1{
    background-color: rgb(243, 243, 243);
    justify-content: left;
    font-size: 1.7em;
    color: rgb(93, 146, 97);
}

#galeria-section1 div{
    padding: 2em 4em;
}


#galeria-section2{
    padding-top: 2em;
    padding-bottom: 2em;    
     flex-wrap: wrap;
     justify-content: space-evenly;
 }

.imagen-gal{ 
    border-radius: 0.2em;
    background-color: blue;          
    max-height: 300px;  
    max-width: 400px;
    flex-grow: 1; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.imagen-gal img{ 
    object-fit: cover;
    object-position: center;
}